body{
    background-color: orange;
}
.entorno {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family:monospace;
    color: white;
}
p {
    font-size: 5rem;
}
.reloj {
    font-size: 5rem;
}
.menu {
    display: flex;
}
.menu button{
    background-color: orange;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    font-family: monospace;
    font-size: 1.5rem;
    width: 200px;  /* Ancho fijo para todos los botones */
    height: 80px;  /* Altura fija para todos los botones */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}